<!-- Native <dialog> element for WCAG-compliant modal -->
<dialog #dialogEl class="deactivate-dialog" aria-labelledby="deactivate-title" aria-describedby="deactivate-desc">
  <div class="deactivate-dialog__content" role="document">
    <div class="deactivate-dialog__header">
      <h2 id="deactivate-title" class="deactivate-dialog__title">
        {{ 'admin.tenants.deactivateModal.title' | transloco }}
      </h2>
    </div>

    <div class="deactivate-dialog__body">
      <p id="deactivate-desc" class="deactivate-dialog__message">
        {{ 'admin.tenants.confirmDeactivateTitle' | transloco }}
        <strong>{{ tenant().name }}</strong
        >?
      </p>
    </div>

    <div class="deactivate-dialog__footer">
      <button class="btn btn-cancel" type="button" (click)="onCancel()" autofocus>
        {{ 'common.cancel' | transloco }}
      </button>
      <button
        class="btn btn-deactivate"
        type="button"
        (click)="onConfirm()"
        [attr.aria-label]="('admin.tenants.deactivateModal.confirmBtnLabel' | transloco) + ' ' + tenant().name"
      >
        {{ 'admin.tenants.deactivateModal.confirmBtn' | transloco }}
      </button>
    </div>
  </div>
</dialog>
