<dialog
  #dialogEl
  class="reset-dialog"
  aria-labelledby="reset-title"
  aria-describedby="reset-desc"
  (click)="$event.target === dialogEl ? onCancel() : null"
>
  <div class="reset-dialog__content" role="document">
    <div class="reset-dialog__header">
      <h2 id="reset-title" class="reset-dialog__title">{{ 'supervisor.userResetPassword.title' | transloco }}</h2>
    </div>

    <div class="reset-dialog__body">
      <p id="reset-desc" class="reset-dialog__message">
        {{ 'supervisor.userResetPassword.body' | transloco }}
        <strong>{{ user().firstName }} {{ user().lastName }}</strong>?
      </p>
      <p class="reset-dialog__info">{{ 'supervisor.userResetPassword.info' | transloco }}</p>
    </div>

    <div class="reset-dialog__footer">
      <button class="btn btn-cancel" type="button" (click)="onCancel()" autofocus>
        {{ 'common.cancel' | transloco }}
      </button>
      <button
        class="btn btn-confirm"
        type="button"
        (click)="onConfirm()"
        [attr.aria-label]="('supervisor.userResetPassword.confirmLabel' | transloco) + ' ' + user().firstName + ' ' + user().lastName"
      >
        {{ 'supervisor.userResetPassword.confirm' | transloco }}
      </button>
    </div>
  </div>
</dialog>
