<dialog #dialogEl class="create-dialog" aria-labelledby="create-customer-title" (click)="onBackdropClick($event)">
  <div class="create-dialog__content" role="document">
    <div class="create-dialog__header">
      <h2 id="create-customer-title" class="create-dialog__title">
        {{ 'supervisor.customerCreate.title' | transloco }}
      </h2>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <div class="create-dialog__body">
        <div class="form-row">
          <div class="form-field">
            <label class="form-label" for="firstName">{{ 'common.firstName' | transloco }}</label>
            <input
              id="firstName"
              type="text"
              class="form-input"
              formControlName="firstName"
              maxlength="100"
              autocomplete="given-name"
              [placeholder]="'common.optional' | transloco"
            />
            @if (form.controls.firstName.hasError('maxlength')) {
              <span class="form-error" role="alert">{{ 'supervisor.customerCreate.maxLength100' | transloco }}</span>
            }
          </div>

          <div class="form-field">
            <label class="form-label" for="lastName">{{ 'common.lastName' | transloco }}</label>
            <input
              id="lastName"
              type="text"
              class="form-input"
              formControlName="lastName"
              maxlength="100"
              autocomplete="family-name"
              [placeholder]="'common.optional' | transloco"
            />
            @if (form.controls.lastName.hasError('maxlength')) {
              <span class="form-error" role="alert">{{ 'supervisor.customerCreate.maxLength100' | transloco }}</span>
            }
          </div>
        </div>

        <div class="form-field">
          <label class="form-label" for="phones">{{ 'supervisor.customerCreate.phonesLabel' | transloco }}</label>
          <input
            id="phones"
            type="text"
            class="form-input"
            formControlName="phones"
            autocomplete="off"
            [placeholder]="'supervisor.customerCreate.phonesPlaceholder' | transloco"
          />
          <span class="form-hint">{{ 'supervisor.customerCreate.phonesHint' | transloco }}</span>
        </div>

        <div class="form-field">
          <label class="form-label" for="emails">{{ 'supervisor.customerCreate.emailsLabel' | transloco }}</label>
          <input
            id="emails"
            type="text"
            class="form-input"
            formControlName="emails"
            autocomplete="off"
            [placeholder]="'supervisor.customerCreate.emailsPlaceholder' | transloco"
          />
          <span class="form-hint">{{ 'supervisor.customerCreate.emailsHint' | transloco }}</span>
        </div>
      </div>

      <div class="create-dialog__footer">
        <button class="btn btn-cancel" type="button" (click)="onCancel()">{{ 'common.cancel' | transloco }}</button>
        <button class="btn btn-save" type="submit" [disabled]="form.invalid || saving()" [attr.aria-busy]="saving()">
          @if (saving()) {
            {{ 'common.saving' | transloco }}
          } @else {
            {{ 'supervisor.customerCreate.save' | transloco }}
          }
        </button>
      </div>
    </form>
  </div>
</dialog>
